* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --orange: rgb(225, 186, 153);
    --dark-orange: rgb(167, 124, 124);
    --pink: rgba(255, 255, 255, 0.519);
    --grey-pink: rgba(214, 214, 214, 0.26);
    --grey-orange: rgba(129, 113, 99, 0.339);
    --orange-hover: rgb(230, 208, 191);
}

body {
    background: var(--orange);
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Prompt', Helvetica, Arial, sans-serif;
}


.players {
    display: flex;
    justify-content: center;
}

.player-card {
    background: var(--pink);
    padding: 15px 30px;
    color: var(--dark-orange);
    font-size: .9rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
}

.turn {
    /* background-color: var(--grey-pink);
    color: var(--grey-orange); */
    
}

.game-grid {
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 40px 0px 40px 0px;
}

.game-card {
    background: var(--pink);
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: var(--dark-orange);
    font-size: 3rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    cursor: pointer;
}

.reset {
    display: flex;
    justify-content: center;
}
.reset-btn  {
    border: none;
    cursor: pointer;
    font-family: 'Prompt', Helvetica, Arial, sans-serif;
} 

.reset-btn:hover {
    background-color: var(--orange-hover);
}

.inactive {
    display: none;
}